table {
  text-align: center;
  margin-top: 30px;
  width: 550px;
  border: 1px solid black;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  border-collapse: collapse;
}

.linea1 {
  background-color: yellow;
}
.linea2 {
  background-color: pink;
}
.linea3 {
  background-color: gray;
}
.linea4 {
  background-color: pink;
}
.linea5 {
  background-color: gray;
}

p {
  margin-top: 0;
  margin-left: 100px;
}
